<h1><%= @task.title %></h1>
<div>
  <p><%= @task.details %></p>
</div>
  <p><%= @task.completed %></p>
<%= link_to "Back to all tasks", tasks_path %>
<%= link_to "Edit this task", edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task), method: :delete %>
